doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include ../public/style.css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
        