div.navbar
    div.nav-logo
        div
            a(href="/article") _THEBLOGG_
    div.nav-menu
        if user
            div.account
                a(href="/user") #{user.username}
                
        else
            div.account
                a(href="/user") Login