include _header.pug

body
    include _navbar.pug
    include _flash.pug

        div.main
            div.card
                div.card-body
                    form(action="/article" method="POST")
                        div
                            label(for="title") Title
                            input.input(type="text" name="title")
                        div
                            label(for="article") Article content
                            textarea.input(name="article", cols="30", rows="10")
                        div
                            input.submit(type="submit" value="Submit")

include _footer.pug