include _header.pug

body
    include _navbar.pug

    div.container
        div.main
            div.card
                div.card-title
                    h4 #{article.title}
                div.card.body
                    p Published on: #{article.publisheddate}
                    p By: #{author.username}
                    p #{article.article}

include _footer.pug