<%- include('_header'); %>

<div style="background-color: red; padding: 1em; margin-bottom: 1.5em;">
    <h3 style="color: white; margin: 0;">Ooops, Something went wrong. Please try again later.</h3>
</div>

<%- include('_footer'); %>