include _header.pug

body
    include _navbar.pug
    include _flash.pug

        if user
            div.main
                div.card
                    div.card-body
                        form(action="/user/" + user._id, method="post")
                            div
                                label(for="username") Username
                                input.input(type="text" name="username" value=user.username)
                            div
                                label(for="username") Email
                                input.input(type="email" name="email" value=user.email)
                            div
                                input.submit(type="submit" value="Update")
                
        
include _footer.pug