include _header.pug

body
    include _navbar.pug
    include _flash.pug
    

        div.main
            div.card
                div.card-body
                    form(action="/user" method="POST")
                        div
                            label(for="username") Username
                            input.input(type="text" name="username")
                        div
                            label(for="email") Email
                            input.input(type="email" name="email")
                        div
                            label(for="password") Password
                            input.input(type="password" name="password")
                        div
                            label(for="re_password") Confirm Password
                            input.input(type="password" name="re_password")
                        div
                            input.submit(type="submit" value="Register")
                            a(href="/user") Sign In

include _footer.pug