body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #404040;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.nav-logo {
    font-size: 32px;
    margin: 0 40px;
}

.nav-logo > div {
    margin: 15px 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.account {
    margin: auto;
    padding: 0 20px;
}

.dropdown {
    width: 100%;
    position: relative;
    text-align: center;
}

.dropdown span {
    display: block;
    padding-top: 17%;
}

.dropcontent {
    display: none;
    position: absolute;
    min-width: 150px;
    top: 57px;
    background-color: #404040;
    z-index: 1;
}

.droplink {
    margin: 15px 15px;
}

.dropdown:hover .dropcontent {
    display: block;
}

.container {
    width: 50%;
    margin: 25px auto;
}

.main {
    padding: 5px;
}

.card {
    margin: 15px 0;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
}

.card-body {
    padding: 5px;
    text-align: justify;
}

.paginate {
    display: flex;
    justify-content: center;
}

.paginate div {
    margin: 5px;
}

.footer {
    text-align: center;
}

/*
    reusable components
*/

p {
    text-align: justify;
}

h3, h4 {
    margin: 0;
}

label {
    display: block;
    margin: 0 5px;
}

.center {
    text-align: center;
}

.one-third-width {
    width: 33.33%;
}

.input {
    width: 90%;
    padding: 7px;
    margin: 5px;
    border: 1px solid #404040;
    border-radius: 5px;
}

.submit {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: #027799;
    color: whitesmoke;
}

.alert {
    margin: 5px;
    padding: 10px;
    background-color: rgb(250, 247, 93);
    width: 90%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 0;
}

/*
* Specific style
*/

.form-control h4 {
    margin: 5px;
}

/*
* For Mobile
*/

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}